

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  color: #fafafa;
  overflow-x: hidden;
  padding-top: 20px;
}

.content {
  margin-left: 250px;
}
