@charset "utf-8";

* {
  padding:0;
  margin: 0;
  }
  
  ::selection {
    background: #706f9a;
    color: #fafafa;
  }

  html {
    font-kerning: normal;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    
      &.theme-change-active{
        animation: fade-in ease-out 0.6s;
      }
    }

    $theme-light-first-text-color: #444;
    $theme-dark-first-text-color: #FAFAFA;
    $theme-light-second-text-color: #999;
    $theme-dark-second-text-color: rgb(221, 221, 221);
    $theme-light-bg-color:#fafafa;
    $theme-dark-bg-color:#262626;
  
    @mixin color($property, $var, $fallback){
      #{$property}: $fallback; 
      #{$property}: var($var, $fallback);
    }
  
    .theme-dark {
      --first-text-color: #{$theme-dark-first-text-color};
      --second-text-color:#{$theme-dark-second-text-color};
      --bg-color: #{$theme-dark-bg-color};
    }


body {
  text-rendering: optimizeLegibility;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  font-size: 0.9375rem;
  line-height:1.5;
  display: flex;
  flex-flow: row wrap;
  hyphens: auto;
  @include color(background, --bg-color,  $theme-light-bg-color);
  @include color(color, --first-text-color, $theme-light-first-text-color);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  
  50% {
    opacity:0.8;
  }
  
  100% {
    opacity: 1;
  }
  }

 
.theme-button{
  display: none;
  padding:0;
  border:none;
  background: transparent;
  color: #706f9a;
  cursor: pointer;
  margin-right:1rem;

  &:not(:hover){
    border-bottom-color: transparent;
  }
}

.theme-button.enabled{
  display: inline;
}

pre {
  overflow: auto;
  font:1rem Consolas, monospace;
  padding:1rem;
  margin:0 0 1rem 0;
  border-radius: 4px;
}

a:link {
  text-decoration: none;
  color:#706f9a;
}

a:hover {
  @include color(color, --second-text-color, $theme-light-second-text-color);
}

a:visited {
  color:#706f9a;
}

h1, h2, h3, h4, h5 {
  .anchor {
    visibility: hidden;
    text-decoration: none;
    border-bottom-color: transparent;
    cursor: pointer;
    padding-left:1rem;
    @include color(color, --second-text-color, $theme-light-second-text-color);
  }

  &:hover {
    .anchor {
      visibility: visible;
    }
  }
}


h2, h3 {
  font-weight: 600;
  line-height:120%;
  margin-bottom:0.5rem;
}

h1 {
  font-size:2rem;
  line-height:1;
  font-weight: 700;
  text-transform: uppercase;
  margin:1rem 0;
}

nav {
  width:34vw;
  max-width:20rem;
  padding:4vw;
  display: flex;
  flex-flow: column nowrap;

  #subnav {
    display: flex;
    flex-flow: row wrap;
    margin:0 0 1rem 0;
    font-size: 1.625rem;
  }
  
  button {
    font-size: 1.625rem;
  }

  #breadcrumbs {
    display: flex;
    flex-flow: row wrap;
    font-style:italic;
  }

  ul {
    list-style-type: none;
    text-align: left;
    @include color(color, --second-text-color, $theme-light-second-text-color);
  }

  em {
    font-size:1.625rem;
    line-height: 1.2;
  }
}

main {
  width:48vw;
  padding:4vw;
  max-width:55rem;
  display: flex;
  flex-flow: column nowrap;
  margin-top:2.375rem;

  p {
    margin:0 0 1rem 0;
  }

  article {
    margin:1rem 0 0;

    ul, ol {
      list-style-position: inside;
      margin:0 0 1rem 1rem;
    }
  
    a:visited {
      color:#706f9a;
    }
  }

  img {
    max-width:100%;
  }
}

#taxonomies {
  display: flex;
  flex-flow: row wrap;
  font-size: 1rem;

  date {
    @include color(color, --second-text-color, $theme-light-second-text-color);
  }

  ul {
    display: flex;
    flex-flow: column;
    list-style: none;
    margin:0 1rem;
  }
}

#toc {
  list-style: none;
  @include color(color, --second-text-color, $theme-light-second-text-color);
  margin-top: 1rem;
 
  ul {
    margin-left:1rem;
    list-style: none;
  }
  }

#mobile {
  display: none;
}

#tax_list {
  list-style: circle;
  @include color(color, --second-text-color, $theme-light-second-text-color);
}

@media screen and (max-width: 1023px) {
 
  body {
  font-size:1rem;
  }
  
  nav, main {
    width:92vw;
  }

  #mobile {
    display: block;
    outline:none;
    color:#706f9a;
    font-size:1.375rem;
  }
  
  select {
    font-size:1.375rem;
  }
  
  .search-results__items {
    list-style-position:inside;
  }

  #bger, #tax_list {
    display: none;
  }
}

@import "search";

