{% extends "index.html" %}

{% block nav %}
  <ul id="breadcrumbs">
    <li><a href="/">{{config.title}}</a>&nbsp;&#8594;&nbsp;</li> 
    <li>{{ taxonomy.name }}</li>
  </ul>
  <h1>{{ taxonomy.name }}</h1>
{% endblock nav %}

{% block content %}
  {% if terms %}
    <ul id="tax_list">
    {% for term in terms %}
      <li><a href="{{ term.permalink | safe }}">{{ term.name }}</a>&nbsp;[{{ term.pages | length }}]</li>
    {% endfor %}
    </ul>
    <select id="mobile" onChange="window.location.href=this.value" name="Taxonomies" >
      <option disabled selected>{{ taxonomy.name }}</option>
      {% for term in terms %}
      <option value="{{ term.permalink | safe }}">{{ term.name }}&nbsp;[{{ term.pages | length }}]</option> 
      {% endfor %}
    </select>
  {% endif %}
{% endblock content %}
