{% extends "index.html" %}

{% block title %} {{ config.title }} | {{ section.title }} {% endblock title %}

{% block nav %}
    <ul id="breadcrumbs">
        {% for parent in section.ancestors %}
            {% set s = get_section(path=parent, include_pages=false) %}
                <li><a href="{{s.permalink}}">{{s.title}}</a>&nbsp;&#8594;&nbsp; </li>
            {% endfor %}
                <li>{{ section.title }}</li>
    </ul>
    <h1>{{ section.title }}</h1>
    {{ macro::tree() }} 
{% endblock nav %}